<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include modular components -->
  <xacro:include filename="$(find bumperbot_description)/urdf/bumperbot_core.xacro" />
  <xacro:include filename="$(find bumperbot_description)/urdf/gazebo_control.xacro" />
  <xacro:include filename="$(find bumperbot_description)/urdf/lidar.xacro" />

</robot>
